# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  pull_request_target:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    environment: CI
    env:
      TENDERLY_ACCESS_KEY: ${{secrets.TENDERLY_ACCESS_KEY}}
      TENDERLY_ACCOUNT_NAME: ${{secrets.TENDERLY_ACCOUNT_NAME}}
      TENDERLY_PROJECT_NAME: ${{secrets.TENDERLY_PROJECT_NAME}}
      TENDERLY_GET_BY_PROJECT_NAME: ${{secrets.TENDERLY_GET_BY_PROJECT_NAME}}

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ GITHUB_REF }}
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 8.2.0
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - run: pnpm lint
      - run: pnpm build
      - run: pnpm test
